.sidebar .scroll {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar .scroll::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

.sidebar .scroll::-webkit-scrollbar-thumb {
  background-color: #ccc !important   ;
}

.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.Mui-checked {
  color: #ef4444 !important;
}

.ReactCollapse--collapse {
  transition: height 200ms;
}

.range-slider__thumb {
  background-color: #ef4444 !important;
  width: 16px !important;
  height: 16px !important;
}

.range-slider {
  height: 4px !important;
  background: #d7d3d3 !important;
}

.range-slider__range {
  background-color: #ef4444 !important;
  height: 4px !important;
}

.css-rizt0-MuiTypography-root {
  font-size: 15px !important;
  display: flex !important;
  gap: 2px !important;
}

.css-19opgx6-MuiFormControlLabel-root{
    margin-right: 0px !important;
}
