.navbar-search-input::placeholder {
  font-size: 16px;
  color: #515151;
}

.link:hover {
  color: #ff5252;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}

.scroll ul li {
  text-decoration: capitalize !important;
}

.opensubmenu {
  display: inline-block;
}

.category-menu-list li button {
  text-transform: capitalize !important;
}

.category-tiles li .submenu {
  visibility: hidden;
  z-index: 100;
}

.category-tiles li Button {
  text-transform: capitalize !important;
}

.category-tiles li:hover .submenu {
  visibility: inherit;
  opacity: 1;
}
