@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-elms: "Elms Sans", sans-serif;
  --font-roboto: "Roboto Mono", monospace;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-inter);
  overflow-x: hidden;
  background-color: #f5f0f0;
  color: rgba(0, 0, 0, 0.9);
}

.container {
  width: 95%;
  margin: auto;
}

.sliderhome {
  overflow: inherit !important;
}

