@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-elms: "Elms Sans", sans-serif;
  --font-roboto: "Roboto Mono", monospace;
}

body {
  font-family: var(--font-inter);
}
